@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0%;
    }
}

#desert{
    position: absolute;
    background-image: url("images/bg.png");
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom: 0;
}

.dino{
    background-image: url("images/dino.png");
    height: 60px;
    width: 60px;
    bottom: 0;
    position: absolute;
}

.obstacle{
    background-image: url("images/cactus.png");
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

body{
    background-color: rgb(250, 250, 250);
}
